version: "3"
services:
  springboot-app:
    container_name: backend_springboot-app
    image: amensmida/amenallahbensmida_5arctic3_g4_spring-app:latest
    build:
      context: .
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/test?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      - mysqldb

  mysqldb:
    container_name: mysqldb
    image: mysql
    volumes:
      - ./db:/var/lib/mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: test
      MYSQL_ROOT_PASSWORD: root

  angular-app:
    container_name: frontend_angular-app
    image: amensmida/amenallahbensmida_5arctic3_g4_angular-app:latest
    build:
      context: ../Frontend #//
    ports:
      - "4200:80"
    depends_on:
      - springboot-app
