<div class="header">
  <h2>Product List</h2>
  <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal)" title="Add Item">+</button>
</div>

<!-- Modal Template for Adding New Product -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" (click)="cancel()">×</span>
    </button>
  </div>
  <div class="center">
    <form class="styled-form">
      <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" placeholder="Product Name" [(ngModel)]="product.title" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" [(ngModel)]="product.category" [ngModelOptions]="{standalone: true}">
          <option value="ELECTRONICS">ELECTRONICS</option>
          <option value="CLOTHING">CLOTHING</option>
          <option value="BOOKS">BOOKS</option>
        </select>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" placeholder="Price" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" min="0">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" placeholder="Quantity" [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}" min="0">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="addProduct(product); modal.close('Save click')">Add</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Product List Display -->
<div class="row">
  <div class="card text-center">
    <table class="table">
      <thead style="background-color: rgb(192, 183, 183);">
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- Displaying the list of products -->
      <tr *ngFor="let item of data">
        <td>{{ product.title }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button class="btn btn-warning" (click)="showForm(product)">Edit</button>
         <!-- <button class="btn btn-danger" (click)="deleteItem(product.idProduct)">Delete</button>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
